#aboutMe{
    position: relative;
    width: 100%;           
    
    // 方法一 实现成功
    // font-size: 0;

    // 方法二 失败，文字头部会有空白
    // overflow: hidden;

    // 方法三 实现成功
    overflow: hidden;    
}

.aboutMe-left{
    width: 300px;    
    
    // 方法一
    // display:inline-block;       
    
    // 方法二
    // float: left;

    // 方法三
    float: left;
    margin-bottom: -2000px;
    padding-bottom: 2000px;

}

.aboutMe-right{    
    padding: 0 30px;
    box-sizing: border-box;
    
    // 方法一
    // font-size: 14px;    
    // display: inline-block;    
    // width: calc(100% - 300px);

    // 方法二
    // margin-right: 300px;

    // 方法三
    float: right;
    width: calc( 100% - 300px);
}

#aboutMe-title:hover{
    cursor:wait;
    animation:shake 200ms 10;
    -webkit-animation:shake 200ms 10;
}

.content{
    text-align: left;
    text-indent: 2em;
    word-break: break-all;
    line-height: 1.6;
    padding:0 0 0 10px;
}

/*鼠标抖动效果*/
@keyframes shake {
    0%,100%{
       -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
       transform: rotate(0deg);
     }
   25%{
     -webkit-transform: rotate(10deg);
     -moz-transform: rotate(10deg);
     -ms-transform: rotate(10deg);
     -o-transform: rotate(10deg);
     transform: rotate(10deg);
   }
   50%{
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
   }
   75%{
     -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
     -ms-transform: rotate(-10deg);
     -o-transform: rotate(-10deg);
     transform: rotate(-10deg);
   }
 }